<body style="background-color:#468AD7">
  <div class="container text-center" style="font-family: 'Manrope', sans-serif;">

    <div class="col p-5">
      <img src="assets/welcome.png" width="230px" class="m-3 welcome"><br>
      <input type="text" class="form-control" style="display: initial;width: 60%;"
        placeholder="Kindly enter your name to proceed" name="name" [(ngModel)]="name">

      <button type="button" (click)="createUser()" class="btn btn-info m-3">Proceed</button>
      <br>
      <img width="333px" src="assets/welcome-2.gif" class="welcome2" alt="">
    </div>
  </div>


</body>
