
<div class="container text-center p-1 mt-4"  style="font-family: 'Comic Sans MS', cursive, sans-serif;">

    <div class="col  p-5 tex" style="border: 1px solid #E3DFDF;border-radius: 20px;background-color: rgb(212, 214, 216);">
<img src="https://i.ya-webdesign.com/images/welcome-banner-png-1.png" class="m-3" width="230px" alt=""><br>
<input type="text"  class="form-control " style="display: initial;width: 60%;" placeholder="Kindly enter your name to proceed" id="basic-url"
        aria-describedby="basic-addon3"
        name="name" [(ngModel)]="name">
        
        <button type="button" (click)="createUser()" class="btn btn-info m-3">Proceed</button>
    </div>
</div>


