
<body style="background-color: rgb(221, 216, 216);">
    <div class="container " style="font-family: 'Manrope', sans-serif;" >
   
        <div class="text-center">
           
                <!-- <img src="https://cdn.dribbble.com/users/58530/screenshots/5476801/ch_logo_motion.gif" width="200px" alt=""> -->
            
           <h2>Yay! Have  look on my fav movie collections</h2><br>
           <img width="10%" src="https://w7.pngwing.com/pngs/320/165/png-transparent-captain-america-iron-man-superhero-silhouette-little-superman-comics-child-heroes.png" alt="">

            <div class="row">
                <div class="col-sm-6">
           <!--Even index values here-->
    
                <div class="card">
                  <div class="additional">
                    <div class="user-card">
                     
                      <img width="150px" src="https://m.media-amazon.com/images/M/MV5BZWU1YWY2MGYtZWVlNS00ODliLTk3NTMtNmY2ODI2YzQzNjNlXkEyXkFqcGdeQXVyODE0NjUxNzY@._V1_SX300.jpg" alt="">
                    </div>
                    <div class="more-info">
                      <h1>Nanban</h1>
                      <div class="coords">
                       
                        <span>(Director)S. Shankar</span>
                      </div>
                      <div class="coords">
                        
                        <span>(Actor)Joseph Vijay</span>
                      </div>
                      <div class="stats">
                        <div>
                          <div class="title">Awards</div>
                          <i class="fa fa-trophy"></i>
                          <div class="value" style="font-size: smaller;">5</div>
                        </div>
                        <div>
                          <div class="title">Votes</div>
                          <i class="fa fa-gamepad"></i>
                          <div class="value">10,549</div>
                        </div>
                        <div>
                          <div class="title">Runtime</div>
                          <i class="fa fa-group"></i>
                          <div class="value">188 min</div>
                        </div>
                        <div>
                          <div class="title">Country</div>
                          <i class="fa fa-coffee"></i>
                          <div class="value">India</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="general">
                    <h1>Nanban</h1>
                    <p>10 years after finishing college, two best friends and their enemy go on a search for their third friend, while finding out some truths along the way.</p>
                    
                  </div>
                
              
              
                
    </div></div>

    <div class="col-sm-5">
        <!--Odd index values here-->
        <div class="card">
            <div class="additional">
              <div class="user-card">
               
                <img width="150px" src="https://m.media-amazon.com/images/M/MV5BZWU1YWY2MGYtZWVlNS00ODliLTk3NTMtNmY2ODI2YzQzNjNlXkEyXkFqcGdeQXVyODE0NjUxNzY@._V1_SX300.jpg" alt="">
              </div>
              <div class="more-info">
                <h1>Nanban</h1>
                <div class="coords">
                 
                  <span>(Director)S. Shankar</span>
                </div>
                <div class="coords">
                  
                  <span>(Actor)Joseph Vijay</span>
                </div>
                <div class="stats">
                  <div>
                    <div class="title">Awards</div>
                    <i class="fa fa-trophy"></i>
                    <div class="value" style="font-size: smaller;">5</div>
                  </div>
                  <div>
                    <div class="title">Votes</div>
                    <i class="fa fa-gamepad"></i>
                    <div class="value">10,549</div>
                  </div>
                  <div>
                    <div class="title">Runtime</div>
                    <i class="fa fa-group"></i>
                    <div class="value">188 min</div>
                  </div>
                  <div>
                    <div class="title">Country</div>
                    <i class="fa fa-coffee"></i>
                    <div class="value">India</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="general">
              <h1>Nanban</h1>
              <p>10 years after finishing college, two best friends and their enemy go on a search for their third friend, while finding out some truths along the way.</p>
              
            </div>
          
        
        
          
</div>
    </div>
    
   
          
          </div><br>
          Waana create a one for you? <a href="new-user">Visit here!</a>
    </div>
</div>
    
</body>